

# arcgis pro
*.laz
*.las
*.lasd
*tmp_*
*.gdb
ImportLog
GpMessages
.backups
*.geojson
pro-project_index
Downloads/*.las
Downloads/*.laz
# project
.DS_Store
.vscode
.idea
venv
.venv
.vscode/settings.json

Downloads/*
GeoJSONS/*